/* accent--text-color #2196F3 */
/* primary-text-color #212121 */
/* secondary-text-color #757575 */
/* team-work-text-color #FFFFFF */
/* footer-primary-text-color #FFFFFF */
/* footer-secondary-text-color rgba(255, 255, 255, 0.6) */
/* primary-font-size 14px */
/* primary-letter-spacing 0.03em */

/* PRIMARY PROPERTY */
:root {
  --primary-bg-color: #ffffff;
  --accent--text-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --button-color: #ffffff;
  --button-bg-color: #2196f3;
  --icon-passive-color: #afb1b8;
  --icon-bg-color: #2196f3;
  --portfolio-btn-bg-color: #f5f4fa;

  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
}

body {
  margin: 0px;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: Roboto, sans-serif;
  font-size: var(--primary-font-size);
  letter-spacing: var(--primary-letter-spacing);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.content-box {
  display: flex;
}

/* Селекторы общего приминения */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.button {
  padding: 10px 30px;
  min-width: 200px;
  vertical-align: middle;

  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-color);
  background-color: var(--button-bg-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  outline: none;
  border: none;
}

.button:hover {
  background-color: #fff;
  color: var(--accent--text-color);
}

/* LIST OF LIMITS */
.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;

  text-decoration: none;
  list-style: none;
}

/* HEADER PROPERTY */
.header-page {
  border-bottom: 1px solid #ececec;
}
/* logo */
.title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.title.item {
  color: var(--accent--text-color);
}

/* navigation menu */
.main-nav {
  display: flex;
  align-items: center;
}

.header-page .link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-text-color);
}

.header-page .link:hover,
.header-page .link:focus {
  color: var(--accent--text-color);
  fill: var(--accent--text-color);
}

.site-nav {
  display: flex;
  height: 100%;
  margin-left: 85px;
}

.site-nav .item {
  position: relative;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-page .current {
  color: var(--accent--text-color);
}

.item .current::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: -1px;

  padding: 0;

  width: 100%;
  height: 4px;

  background-color: currentColor;
  border-radius: 2px;
}

/* contact menu */
.header-page .contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact .btn:not(:last-child) {
  margin-right: 30px;
}
.contact .btn {
  fill: #757575;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contact .button-icon {
  margin-right: 7px;
}
/* FILTER MENU */
.filter {
  margin-top: 95px;
  margin-bottom: 35px;
}
.filter-list {
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item:nth-child(5n) {
  margin-right: 0;
}
.filter-btn {
  display: inline-block;

  padding: 6px 22px;
  border-radius: 4px;
  vertical-align: middle;

  color: var(--primary-text-color);
  background-color: var(--portfolio-btn-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  border: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.active-btn {
  appearance: none;
}

/* TEAM-WORK */
.work-item {
  float: 1;
  margin-bottom: 30px;

  box-sizing: border-box;

  cursor: pointer;

  /* border: 1px solid #eeeeee; */
}
.card-subtitle {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.action-link {
  position: relative;
  overflow: hidden;
}

.work-description {
  position: absolute;

  top: 0;
  left: 0;

  padding: 65px 25px;

  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.56;

  color: #ffffff;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-description p {
  margin: 0;
}
.work-item:hover,
.work-item:hover .work-description {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

/* SECTION */
.section {
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;

  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-subtitle {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 24px;

  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.section-text {
  display: none;
  margin: 0px;
  padding: 0px;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/* FOOTER */
.footer-page {
  margin-top: 95px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}

.footer {
  justify-content: space-between;
}

/* title */
.footer-page .footer-title {
  margin-top: 0px;
  margin-bottom: 20px;

  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-subtitle,
.footer-label {
  display: block;

  margin-top: 0px;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

/* social-list */
.social-list {
  margin-top: 16px;
  margin-bottom: 25px;
  justify-content: center;
}

.social-item {
  display: block;
  border-radius: 50%;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.item-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--icon-passive-color);
}

.social-item:hover,
.social-item:focus,
.item-link:hover,
.item-link:focus {
  fill: #ffffff;
  background-color: var(--icon-bg-color);
}

.footer-icon {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.button .icon {
  text-align: center;
  fill: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover .icon {
  fill: var(--button-bg-color);
}
/* address */
.address {
  color: #ffffff;

  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.address.contact {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.input-post {
  margin-right: 10px;
  width: 360px;
  height: 50px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: inherit;
  border-radius: 4px;

  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
