/* raleway-700 - cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v17-cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v17-cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v17-cyrillic-ext-700.woff2") format("woff2"), url("../fonts/raleway-v17-cyrillic-ext-700.woff") format("woff"), url("../fonts/raleway-v17-cyrillic-ext-700.ttf") format("truetype"), url("../fonts/raleway-v17-cyrillic-ext-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-ext-regular.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-ext-regular.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-cyrillic-ext-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-cyrillic-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-ext-500.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-ext-500.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-ext-500.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-ext-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-ext-700.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-ext-700.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-ext-700.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-cyrillic-ext-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-cyrillic-ext-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-ext-900.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-ext-900.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-ext-900.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-ext-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  padding: 10px 30px;
  min-width: 200px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  border: none;
}

.button:hover, .button:focus {
  background-color: #ffffff;
  color: #2196f3;
  border: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  color: #212121;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-page {
  position: relative;
  border-bottom: 3px solid #ececec;
  z-index: 99;
}

.header-page .link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.header-page .nav-link {
  padding-top: 17px;
  padding-right: 0;
  padding-bottom: 17px;
  padding-left: 0px;
}

.header-page .link:hover,
.header-page .link:focus {
  color: #2196f3;
  fill: #2196f3;
  outline: transparent;
}

@media (max-width: 767px) {
  .header-page .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 63px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-page .site-nav .link {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header-page .link {
    font-size: 14px;
  }
  .header-page .nav-link {
    padding-top: 21px;
    padding-right: 0;
    padding-bottom: 21px;
    padding-left: 0px;
  }
}

@media (min-width: 1200px) {
  .header-page .nav-link {
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: #000000;
}

.title.item {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .title {
    font-size: 26px;
  }
}

.burger-modal {
  margin: 0;
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .menu-container {
    display: none;
    padding-top: 60px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 767px;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-btn:hover, .menu-btn:focus {
    fill: #2196f3;
  }
  .menu-btn .icon-close {
    display: none;
  }
  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-open {
    display: none;
  }
}

@media (min-width: 767px) {
  .menu-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.site-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.current {
  display: inline-block;
  position: relative;
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact {
  margin-top: 60px;
  text-align: center;
}

.contact .btn {
  fill: #757575;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .btn:not(:last-child) {
  margin-bottom: 16px;
}

.contact .button-icon {
  display: inline-block;
  margin-right: 7px;
}

@media (min-width: 768px) {
  .contact {
    display: block;
    margin-top: 0;
    margin-left: auto;
    text-align: start;
  }
  .contact .btn:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .btn:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.filter {
  margin-top: 60px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.filter-list .filter-item {
  margin-bottom: 15px;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list .filter-item:nth-child(-n + 2) {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .filter-list .filter-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-btn {
  display: inline-block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  vertical-align: middle;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: transparent;
}

.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.active-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.team-professional {
  padding-top: 10px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .team-professional {
    padding-top: 30px;
    padding-bottom: 95px;
  }
}

.work-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

@media (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.work-item {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
}

.work-item:not(:last-child) {
  margin-bottom: 30px;
}

.work-item:hover,
.work-item:hover .work-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .work-item {
    width: calc((100% - 60px) / 2);
  }
  .work-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .work-item {
    width: calc((100% - 90px) / 3);
  }
  .work-item:nth-child(n + 7) {
    margin-bottom: 0px;
  }
  .work-item:nth-child(3n) {
    margin-right: 0;
  }
}

.card-subtitle {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-subtitle .work-title {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-subtitle .work-subtitle {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.87;
  letter-spacing: inherit;
  color: #757575;
}

.action-link {
  position: relative;
  overflow: hidden;
}

.work-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 25px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-description p {
  margin: 0;
}

@media (max-width: 479px) {
  .work-description {
    font-size: 14px;
    padding-top: 45px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .work-description {
    padding: 65px 25px;
  }
}

.img {
  height: 294px;
}

@media screen and (max-width: 767px) {
  .img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .img {
    width: 370px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-item {
  border-radius: 50%;
}

.social-item:hover, .social-item:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border: transparent;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.item-link:hover, .item-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border: transparent;
}

@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: #ffffff;
  background-color: #2f303a;
}

.footer-page .footer-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .footer-page {
    text-align: start;
  }
}

.footer-content:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-content:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer-content .footer-icon {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.address {
  text-align: center;
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.address.contact {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1200px) {
  .address {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}

.footer-label {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: inherit;
  letter-spacing: inherit;
  font-style: normal;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .footer-label {
    text-align: start;
  }
}

.footer-form {
  width: 100%;
}

.footer-form .input-post {
  padding: 15px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  border-radius: 4px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 480px) {
  .footer-form .input-post {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer-form .input-post {
    margin-right: 10px;
    width: 360px;
  }
}

.footer-content .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.footer-content .button .icon {
  vertical-align: middle;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.footer-content .button:hover .icon {
  fill: #2196f3;
}

@media (min-width: 1200px) {
  .footer-content .button {
    display: inline-block;
    margin: 0;
  }
}
/*# sourceMappingURL=prof.css.map */