.site-nav {
  @include list;
  text-align: center;

  .item:not(:last-child) {
    margin-bottom: 40px;
  }

  @include for-size(tablet-landscape) {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    .item:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }
}
.current {
  display: inline-block;
  position: relative;
  color: $accent-text-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 4px;

    background-color: $accent-text-color;
    border-radius: 2px;
  }
}

.contact {
  margin-top: 60px;
  text-align: center;

  .btn {
    fill: $icon-contact-color;
    color: $secondary-text-color;
    transition: color $time-anim, fill $time-anim;
  }
  .btn:not(:last-child) {
    margin-bottom: 16px;
  }

  .button-icon {
    display: inline-block;
    margin-right: 7px;
  }

  @include for-size(tablet-landscape) {
    display: block;
    margin-top: 0;
    margin-left: auto;
    text-align: start;

    .btn:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include for-size(desktop) {
    display: flex;

    .btn:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}
