@media (max-width: 767px) {
  .menu-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: fill $time-anim;

    &:hover,
    &:focus {
      fill: $icon-bg-color;
    }
  }

  .menu-btn .icon-close {
    display: none;
  }

  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-open {
    display: none;
  }

  .menu-container {
    display: none;
    @include padding(60px, 0, 60px, 0);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: $primary-bg-color;

    &.is-open {
      display: block;
    }
  }
}
