.hero {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  &-title {
    margin-bottom: 30px;
    color: #ffffff;

    @include font(900, 44px, 1.4, 0.06em);
    text-transform: uppercase;
  }
}
