.team {
  @include font(500, 16px, inherit, 0.03em);
  text-align: center;
  background-color: #f5f4fa;

  &.name {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: inherit;
  }
  &.proff {
    margin-top: 0px;
    margin-bottom: 16px;
    color: $secondary-text-color;
    background-color: inherit;

    font-weight: 400;
  }
}

.team-item {
  flex: 1;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;

  &:nth-child(4n) {
    margin-right: 0;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}
