.footer-content .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

  .icon {
    vertical-align: middle;
    transition: fill $time-anim;
    fill: #ffffff;
  }
  &:hover .icon {
    fill: $button-bg-color;
  }
  @include for-size(desktop) {
    display: inline-block;
    margin: 0;
  }
}
