html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  color: $primary-text-color;
  background-color: $primary-bg-color;

  @include font(400, 14px, 1.2, 0.03em);
}
