.address {
  margin-top: 20px;
  margin-bottom: 60px;
  color: $white;

  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  &.contact {
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.6);
  }
}
