.address {
  color: $white;

  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  &.contact {
    color: rgba(255, 255, 255, 0.6);
  }
  @include for-size(desktop) {
    margin-bottom: 0;
  }
}
