.footer-content {
  &:not(:last-child) {
    margin-bottom: 60px;

    @include for-size(desktop) {
      margin-bottom: 0;
    }
  }
  .footer-icon {
    fill: $white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
