// @media (max-width: 767px) {
//   .header-universal {
//     display: none;
//   }
// }

.header-page {
  border-bottom: 3px solid #ececec;

  .link {
    display: block;
    @include font(500, 18px, 1.2, 0.02em);
    @include list;
    transition: color $time-anim, fill $time-anim;
    color: $primary-text-color;
  }
  .nav-link {
    @include padding(17px, 0, 17px, 0px);
  }
  @media (max-width: 767px) {
    position: relative;

    & .main-nav {
      display: flex;
      min-height: 63px;
      justify-content: space-between;
      align-items: center;
    }
    .site-nav .link {
      display: inline-block;
    }
  }

  .link:hover,
  .link:focus {
    color: $accent-text-color;
    fill: $accent-text-color;
    outline: transparent;
  }

  @include for-size(tablet-landscape) {
    .link {
      font-size: 14px;
    }
    .nav-link {
      @include padding(21px, 0, 21px, 0px);
    }
  }

  @include for-size(desktop) {
    .nav-link {
      @include padding(25px, 0, 25px, 0px);
    }
  }
}
