$primary-bg-color: #ffffff;
$accent-text-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;

$button-color: #ffffff;
$button-bg-color: #2196f3;
$icon-passive-color: #afb1b8;
$icon-bg-color: #2196f3;
$portfolio-btn-bg-color: #f5f4fa;

$primary-font-size: 14px;
$primary-letter-spacing: 0.03em;

// VALUE COLOR
$white: #ffffff;
$black: #000000;

// TRANSITION
$time-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// MIXIN

@mixin font($width, $size, $height, $spacing) {
  font-weight: $width;
  font-size: $size;
  font-family: 'Roboto', sans-serif;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@mixin flex-direct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.content-box {
  display: flex;
}
